---
import Section from '@/components/Section.astro';
---

<Section title="Experiencie">
    <div class="container">Experience content</div>
</Section>

<style>
    .container {
        background-color: crimson;
        height: 250px;
    }
</style>
