---
import {basics} from '@cv'

---

<section>
    <h2>Hero</h2>
    <div class="container">{basics.name}</div>
    <div class="info"></div>
</section>

<style>
    .container {
        background-color: whitesmoke;
        height: auto;
        color: purple;
    }
</style>
